.Qr-code-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
 
.Topic{
    text-decoration: underline;
    font-size: 1.2rem;
}

.active{
    display: block;
}

.inactive{
    display: none;
}

input{
    background-color: #E8F0FE;
}