.Modal-test-container{
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
    background-color: #aaf900;
    padding-top: 20px;
}

.modal-container{
    background-color: #aaf900;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    animation-name: animateModal;
    animation-duration: 1s;
    position: relative; /* Added for animation to work */
}

.modal-header{
    background-color: #075b0a;
    color: #fff;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.modal-body{
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 10rem;
    text-align: center;
    padding-top: 2rem;
}

.modal-footer{
    background-color: #075b0a;
    color: #fff;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.closeIcon{
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    right: -4rem;
}

@keyframes animateModal {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}