#body{
    background-color: #000;
    color: #fff;
    height: 100vh;
    overflow-x: hidden;
}

.image-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FaCirlce-Active{
  color: gray;
}

.FaCirlce-Inactive{
 color: whitesmoke;
}

#loading{
    position: relative;
    bottom: -100px;
    z-index: 1;
    text-align: center;
}

img{
    position: relative;
    z-index: 3;
}